### String interpolation
* stick a  variable in

#### .format()
 * use {} as placeholders for the variables

In [1]:
print("this is a string {}".format('INSERTED'))

this is a string INSERTED

In [3]:
print('The {} {} {}'.format('fox', 'brown', "quick"))

The fox brown quick

In [6]:
print('The {2} {0} {1}'.format('fox', 'brown', "quick")) ## index

The quick fox brown

In [8]:
print('The {0} {0} {0}'.format('fox', 'brown', "quick"))

The fox fox fox

In [10]:
print('The {q} {b} {f}'.format(f="fox".upper(), b="brown", q="quick"))

The quick brown FOX

#### Float formatting follows "{value:width.precision f}"

In [12]:
result = 100/777

In [13]:
result

0.1287001287001287

In [14]:
print("The result was {}".format(result))

The result was 0.1287001287001287

In [16]:
print("The result was {r}".format(r=result))

The result was 0.1287001287001287

In [20]:
print("The result was {r:1.3f}".format(r=result)) # value:width.precisionf

The result was 0.129

In [22]:
print("The result was {r:10.4f}".format(r=result)) ## widdth ads whitespace

The result was     0.1287

### String literals
* Allows you to write values directly inside the string

In [23]:
name="Jose"

In [24]:
name

'Jose'

In [26]:
print('Hello, his name is {}'.format(name))

Hello, his name is Jose

In [29]:
print(f"Hello, his name is {name}") ## just add f to the beginning

Hello, his name is Jose

In [5]:
name = "Sam"
age = 3

In [6]:
print(f"{name} is {age} years old.")

Sam is 3 years old