## Useful operators

In [2]:
mylist =[1,2,3]
for num in range(0,11, 2):
    print (num)

0
2
4
6
8
10

In [3]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [4]:
index_count =0
for letter in "abcde":
    print('At index {} the letter is {}'.format(index_count, letter))
    index_count =+ 1

At index 0 the letter is a
At index 1 the letter is b
At index 1 the letter is c
At index 1 the letter is d
At index 1 the letter is e

In [11]:
index_count=0
word="abcde"
for item, letter in enumerate(word):
    print(item)
    print(letter)
    print("\n")

0
a


1
b


2
c


3
d


4
e

In [16]:
mylist1 = [1,2,3]
mylist2 =['a',"b", "c"]
mylist3=[100,200,300]
for item in zip(mylist,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [17]:
list(zip(mylist1,mylist2,mylist3))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

In [18]:
"x in [1,2,3]"

'x in [1,2,3]'

In [19]:
'x'in[1,2,3]

False

In [20]:
'x' in ['xy]

SyntaxError: EOL while scanning string literal (3849218892.py, line 1)

In [21]:
'a'in "a world"

True

In [22]:
'mykey' in {"myket": 345}

False

In [23]:
d = {'mykey':35}

In [24]:
345 in d.values()

False

In [26]:
35 in d.values()

True

In [27]:
min(mylist)

1

In [28]:
max(mylist)

3

In [29]:
from random import shuffle

In [30]:
mylist = [1,2,3,4,5,6,7,8,9]

In [31]:
shuffle(mylist)
mylist

[6, 2, 3, 7, 9, 5, 8, 1, 4]

In [32]:
mylist

[6, 2, 3, 7, 9, 5, 8, 1, 4]

In [33]:
from random import randint

In [34]:
randint(0,100)

85

In [35]:
randint(0,100)

7

In [36]:
mynum = randint(0,100)

In [37]:
input('Enter a number here')

Enter a number here50

'50'

In [38]:
result = input ("What is your name?")

What is your name?Rashad

In [39]:
result

'Rashad'

In [40]:
type(result)

str

ValueError: could not convert string to float: 'Rashad'